SOLR_STAGING_URL=http://localhost:8983/solr
SOLR_LIVE_URL=http://localhost:8983/solr
GIT_URL=https://github.com/user/repository
GIT_USER=user
GIT_PASSWORD=password
MAIL_HOST=hostname
MAIL_USER=user
MAIL_PASSWORD=password