# endpoints of the two Solr servers that should be referenced in the web UI
SOLR_STAGING_URL=http://hostname-or-ip:8983/solr
SOLR_LIVE_URL=http://hostname-or-ip:8983/solr
SOLR_USER=user
SOLR_PASSWORD=password

# data for the remote git repository that contains the FWB TEI files
GIT_URL=https://github.com/user/repository

# data for a mail server that will be used to send emails containing log outputs
MAIL_HOST=hostname
MAIL_PORT=port
MAIL_USER=user
MAIL_PASSWORD=password

# endpoint of FWB importer that clear cache after each import
FWB_CACHE_URL=
FWB_USER=
FWB_PASSWORD=
