<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

  <bean id="sleep" class="sub.ent.api.ImporterStepSleep" />
  <bean id="convert" class="sub.fwb.api.ImporterStepConvert" />
  <bean id="compare" class="sub.fwb.api.ImporterStepCompare" />
  <bean id="upload" class="sub.ent.api.ImporterStepUpload" />
  <bean id="runTests" class="sub.fwb.api.ImporterStepRunTests" />
  <bean id="coreSwap" class="sub.ent.api.ImporterStepCoreSwap" />
  <bean id="clearCache" class="sub.fwb.api.ImporterStepClearCache" />

  <bean id="importer" class="sub.ent.backend.Importer">
    <property name="steps">
      <list>
        <ref bean="sleep" />
        <ref bean="convert" />
        <ref bean="compare" />
        <ref bean="upload" />
        <ref bean="runTests" />
        <ref bean="coreSwap" />
        <ref bean="clearCache" />
      </list>
    </property>
  </bean>

  <bean id="config" class="sub.ent.config.ConfigStrings">
    <property name="description" value="FWB-Datenimport aus Git" />
    <property name="projectName" value="FWB" />
  </bean>

</beans>
